<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flood Map</title>
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css"
    rel="stylesheet"
  />
  <style>
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    #controls {
      position: absolute;
      top: 10px;
      left: 10px;
      background: white;
      padding: 10px;
      border-radius: 5px;
      z-index: 1; /* Ensure controls appear above the map */
    }
  </style>
</head>
<body>
  <div id="map"></div>
  <div id="controls">
    <h3>Toggle Layers</h3>
    <label>
      <input type="checkbox" id="toggleFloodExtent" />
      Show Flood Extent
    </label>
  </div>

  <script>
    mapboxgl.accessToken =
      "pk.eyJ1IjoiYWxpaGFtemEtMTQiLCJhIjoiY2x4dHkzdHJ6MWhzOTJrcXdqcnFsYnU4dyJ9.LbRvUbNnNk2rUq13y-8gFQ";

    const map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/streets-v11",
      center: [69.3451, 30.3753],
      zoom: 4,
    });

    console.log(`/get_mvt/{z}/{x}/{y}/`);

    function addFloodExtent() {
      map.addSource("flood_extent", {
        type: "vector",
        tiles: ["http://127.0.0.1:8000/get_mvt/{z}/{x}/{y}/"], // Adjust URL to match your server endpoint
        minzoom: 0,
        maxzoom: 14,
      });

      map.addLayer({
        id: "flood_extent",
        type: "fill",
        source: "flood_extent",
        "source-layer": "flood_extent", // This should match the source layer in your MVT data
        layout: {},
        paint: {
          "fill-color": "blue",
          "fill-opacity": 0.75,
        },
      });
    }

    document
      .getElementById("toggleFloodExtent")
      .addEventListener("change", (event) => {
        if (event.target.checked) {
          addFloodExtent();
        } else {
          map.removeLayer("flood_extent");
          map.removeSource("flood_extent");
        }
      });
  </script>
</body>
</html>
