<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mainpage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolorem possimus laboriosam voluptates enim corporis consequuntur ipsa laudantium ab natus nobis sint, itaque harum tempora sed delectus quidem esse consequatur necessitatibus quibusdam rem fugiat omnis quisquam. Quisquam, non a?</p>
</body>
</html>